<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('./_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a href="/books/<%= book.id %>" class="btn btn-danger">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
